
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(document).ready(function() {
        $("h1").text("HR Portal");
    });

</script>

<div>
    <h1>Welcome to HR Portal.</h1>
</div>